# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

<b> Objectives </b>:
- List popular languages for Data Science
- Create a Jupyter Notebook 
- Share your Jupyter Notebook on GitHub

Some of the popular languages that Data Scientists use are:
1. R
2. Julia 
3. Python
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. PyTorch
3. TensorFlow

| Data Science Tools: |
| --- |
| Anaconda |
| Apache Spark |
| Project Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Khadija AlMulla